@font-face {
  font-family: "Medreuz";
  src: url("../font/medreuz.woff2") format("woff2"),
       url("../font/medreuz.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Helper class to use the font */
.medreuz {
  font-family: "Medreuz", serif;
  font-size: 28px; /* change as needed */
  line-height: 1.2;
}
